{% extends "layout.html" %}

{% block content %}

    <div class="container mt-4">
        <h1 class="mb-4">Edit Product</h1>
        <form method="POST" action="{{ url_for('edit_product', product_id=product[1]) }}">
            <div class="form-group">
                <label for="type_dropdown">Type</label>
                <select id="type_dropdown" name="type_id" class="form-control" onchange="updateTypeFields()" required>
                    <option value="">Pilih Type</option>
                    {% for type in types %}
                        <option value="{{ type[0] }}" {% if type[0] == product[0] %}selected{% endif %}>{{ type[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="product_id">Product ID</label>
                <input
                    type="text"
                    id="product_id"
                    name="product_id"
                    class="form-control"
                    placeholder="Masukkan Product ID"
                    value="{{ product[1] }}"
                    readonly>
            </div>
            <div class="form-group">
                <label for="product_name">Product Name</label>
                <input
                    type="text"
                    id="product_name"
                    name="product_name"
                    class="form-control"
                    placeholder="Masukkan Nama Product"
                    value="{{ product[2] }}"
                    required>
            </div>
            <div class="form-group">
                <label for="manu_dropdown">Manufacture</label>
                <select id="manu_dropdown" name="manu_id" class="form-control" onchange="updateManufactureFields()" required>
                    <option value="">Pilih Manufacture</option>
                    {% for manu in manufactures %}
                        <option value="{{ manu[0] }}" {% if manu[0] == product [3] %}selected{% endif %}>{{ manu[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="supplier_dropdown">Supplier</label>
                <select id="supplier_dropdown" name="supplier_id" class="form-control" onchange="updateSupplierFields()" required>
                    <option value="">Pilih Supplier</option>
                    {% for supp in suppliers %}
                        <option value="{{ supp[0] }}" {% if supp[0] == product[4] %}selected{% endif %}>{{ supp[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="unit_dropdown">Unit</label>
                <select id="unit_dropdown" name="unit_id" class="form-control" onchange="updateUnitFields()" required>
                    <option value="">Pilih Unit</option>
                    {% for unit in units %}
                        <option value="{{ unit[0] }}" {% if unit[0] == product[5] %}selected{% endif %}>{{ unit[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="location_dropdown">Location</label>
                <select id="location_dropdown" name="location_id" class="form-control" onchange="updateLocationFields()" required>
                    <option value="">Pilih Location</option>
                    {% for location in locations %}
                        <option value="{{ location[0] }}" {% if location[0] == product[6] %}selected{% endif %}>{{ location[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="safety_level">Safety Level</label>
                <input
                    type="text"
                    id="safety_level"
                    name="safety_level"
                    class="form-control"
                    placeholder="Masukkan Safety Level"
                    value="{{ product[8] }}"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ url_for('master_product') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

{% endblock %}